.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #1769ed;
}


h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #25fc04;
}

h2 {
  font-size: 4rem;
  color: #54fb3a;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
}

p {
  font-size: 2rem;
  color: #fe8c00;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}